@font-face {
  font-family: komikax;
  src: url('./fonts/komikax.ttf');
}
$dark: #101A24;
$error-dark: #903131;
$error: #e84e4e;

html, body{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./images/pattern.png');
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  padding: 20px;

  @mixin headerFonts {
    font-family: komikax, monospace;
    margin: 0;
    color: white;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    h1{
      @include headerFonts();
    }
    h4{
      @include headerFonts();
    }
  }
  h3{
    @include headerFonts();
  }
}

@keyframes float {
  from{
    margin-top: 0px;
  }
  to{
    margin-top: 50px;
  }
}
.float{
  animation: float 3s infinite ease-in-out alternate;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
  aspect-ratio: 1/ 1;
  width: 30%;
  background-image: url('./images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

div.chatfield{
  background-color: $dark;
  position: absolute;
  left: 10%;
  bottom: 20px;
  width: 80%;
  border-radius: .5em;

  .chat{
    .message{
      display: grid;
      grid-template-columns: 75px 1fr;
      grid-template-rows: 30px 1fr;
      margin: 5px 0 10px;
      min-height: 75px;

      .img{
        aspect-ratio: 1 / 1;
        height: 60px;
        margin: 4px auto 0;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-size: cover;
        background-image: url('./images/ai.png');

        &#u{
          background-image: url('./images/user.png');
        }
      }
      h5{
        font-family: komikax, monospace;
        color: white;
        letter-spacing: 2px;
        margin: 5px 10px 0;
      }
      p{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 0;
        margin-left: 9px;
        height: fit-content;

        &#error{
          color: $error;
          font-weight: 1000;
        }
      }
      &#loading{
        @keyframes loading {
          0%{
            content: 'Loading';
          }25%{
            content: 'Loading.';
          }50%{
            content: 'Loading..';
          }75%{
            content: 'Loading...';
          }100%{
            content: 'Loading';
          }
        }
        p::after{
          content: 'Loading';
          animation: loading 1s infinite;
        }
      }
    }
  }
  form.input{
    border-radius: .5em;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="text"]{
      margin-left: 10px;
      width: 100%;
      height: 70%;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      font-size: 1.5rem;
    }
    input[type="submit"]{
      display: none;
    }
    label{
      position: relative;
      aspect-ratio: 1 / 1;
      height: 80%;
      margin: 0 10px;
      cursor: pointer;

      img{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        aspect-ratio: 1/1;
        height: 70%;
      }
    }
  }
}

@keyframes toastFade {
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
div.toast{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: $error;
  border: $error-dark solid 2px;
  color: white;
  border-radius: .5em;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  animation: toastFade 4s forwards;

  &#network{
    animation: none;
  }
}