@font-face {
  font-family: komikax;
  src: url("./fonts/komikax.ttf");
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/pattern.png");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101A24;
  padding: 20px;
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header div h1 {
  font-family: komikax, monospace;
  margin: 0;
  color: white;
}

.header div h4 {
  font-family: komikax, monospace;
  margin: 0;
  color: white;
}

.header h3 {
  font-family: komikax, monospace;
  margin: 0;
  color: white;
}

@-webkit-keyframes float {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 50px;
  }
}

@keyframes float {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 50px;
  }
}

.float {
  -webkit-animation: float 3s infinite ease-in-out alternate;
          animation: float 3s infinite ease-in-out alternate;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
  aspect-ratio: 1/ 1;
  width: 30%;
  background-image: url("./images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

div.chatfield {
  background-color: #101A24;
  position: absolute;
  left: 10%;
  bottom: 20px;
  width: 80%;
  border-radius: .5em;
}

div.chatfield .chat .message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
      grid-template-columns: 75px 1fr;
  -ms-grid-rows: 30px 1fr;
      grid-template-rows: 30px 1fr;
  margin: 5px 0 10px;
  min-height: 75px;
}

div.chatfield .chat .message .img {
  aspect-ratio: 1 / 1;
  height: 60px;
  margin: 4px auto 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background-size: cover;
  background-image: url("./images/ai.png");
}

div.chatfield .chat .message .img#u {
  background-image: url("./images/user.png");
}

div.chatfield .chat .message h5 {
  font-family: komikax, monospace;
  color: white;
  letter-spacing: 2px;
  margin: 5px 10px 0;
}

div.chatfield .chat .message p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  margin-left: 9px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div.chatfield .chat .message p#error {
  color: #e84e4e;
  font-weight: 1000;
}

@-webkit-keyframes loading {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
  100% {
    content: 'Loading';
  }
}

@keyframes loading {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
  100% {
    content: 'Loading';
  }
}

div.chatfield .chat .message#loading p::after {
  content: 'Loading';
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

div.chatfield form.input {
  border-radius: .5em;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.chatfield form.input input[type="text"] {
  margin-left: 10px;
  width: 100%;
  height: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
}

div.chatfield form.input input[type="submit"] {
  display: none;
}

div.chatfield form.input label {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 80%;
  margin: 0 10px;
  cursor: pointer;
}

div.chatfield form.input label img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  height: 70%;
}

@-webkit-keyframes toastFade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toastFade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.toast {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #e84e4e;
  border: #903131 solid 2px;
  color: white;
  border-radius: .5em;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: toastFade 4s forwards;
          animation: toastFade 4s forwards;
}
/*# sourceMappingURL=style.css.map */